name: CI
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1
        with:
          submodules: true

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: wangfenjin/wangfenjin.github.io
          publish_dir: ./public
          #   keep_files: true
          user_name: wangfenjin
          user_email: wangfenj@gmail.com
          publish_branch: master
          cname: www.wangfenjin.com
